<div class="card">
  <div class="header">
    <h2>Deixe um comentário</h2>
 <small>Deixe seu comentário de forma anônima ou registre-se para postar também.</small>
  </div>
  <div class="body">
    <div class="comment-form">
      <div class="comment-form">
        <%= simple_form_for([post, Comment.new]) do |f| %>
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.input :body, as: :text,label: 'Comentário', class: 'form-control', placeholder: 'Digite seu comentário...' %>
              </div>
              <%= f.button :submit, 'Enviar', class: 'btn btn-block btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>