<div class="body widget" id="tag-list">
  <ul class="list-unstyled categories-clouds m-b-0">
    <% Tag.paginated(params[:page]).each do |tag| %>
      <li>
        <%= link_to tag.name, posts_path(tag: tag.name), remote: true %>
      </li>
    <% end %>
  </ul>
  <%= paginate Tag.paginated(params[:page]), remote: true %>
</div>